body, html, #container {
  height: 100%;
}

.header-row {
    height: 65px;
	background: #303b44;
}
.header-button {
	height: 30px;
    margin: 15px;
 	border: 1px solid gray;
 	color: white;
 	text-align: center;
}

.header-a {
    color: white;
    text-decoration:none;
}

.header-a:hover {
    color: white;
}

.header-button:hover {
	border: 1px solid white;
}
.content-container {
	margin-top: 65px;
}

.big-button {
	height: 70px;
	width: 300px;
	border:  4px solid #303b44;
 	text-align: center;
 	font-size: 2.4rem;
	margin: auto;
	color: #303b44;
}

.big-button-a {
	color: #303b44;
	text-decoration:none;
}

.big-button-a:hover {
	color: #303b44;
}

.big-button:hover {
	border:  5px solid #303b44;
}

.general-h1 {
    margin: 100px;
    color: #303b44;
    text-align: center;
}

.general-h2 {
    margin: 100px;
    color: #303b44;
}

.next-stage-button {
	right: 50px;
	bottom: 50px;
	position: absolute;
	width: 300px;
	height: 70px;
	border:  4px solid #303b44;
	text-align: center;
 	font-size: 2.4rem;
 	color: #303b44;
}

.next-stage-button-a {
	color: #303b44;
	text-decoration:none;
}

.next-stage-button-a:hover {
	color: #303b44;
}

.next-stage-button:hover {
	border:  5px solid #303b44;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.margin-left-5 {
  margin-left: 5%;
}

.margin-left-10 {
  margin-left: 10%;
}

.margin-top-1 {
	margin-top: 1%;
}

.margin-top-3 {
	margin-top: 3%;
}

.vl {
    border-left: 3px solid #303b44;
    height: 100%;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 0;
}

.vl-65 {
	border-left: 3px solid #303b44;
    height: 100%; 
    position: absolute;
    left: 65%;
    margin-left: -3px;
    top: 0;
}

.explain-text {
	color: gray;
}

.index-hr {
	margin-top: 30px;
	width: 65%;
	background: #303b44;
	border:  2px solid #303b44;

}

.top-40 {
	position: absolute;
	top: 40%;
}

.code-class {
    background: #fffdd0;
    width: 100%;
    display: block;
    vertical-align: middle;
    white-space: pre;
}

input::-webkit-input-placeholder { color: #DCDCDC; }
input::-moz-placeholder { color: #DCDCDC; }