{% extends 'base.html' %}

{% block content %}
{{ super() }}

<br>
<div class="container" style="font-size: 25px;">
    <div class="row">
        <strong>
         Привет! Я Дима, мне 22 и я занимаюсь автоматизацией тестирования на Python уже ~1,5 года
        </strong>
    </div>
    <br>
    <div class="row">
          <p>Последний год я работал в компании "Тензор" на должности Программист-тестировщик (Python).
        У нас был свой крупный фреймворк и полностью отлаженная система автоматизации тестирования</p>
        <br>
        На своей должности, я занимался:
        <ul>
            <li>Поддержанием старых автотестов, повышением их стабильности и доработкой в связи с изменениями в функционале</li>
            <li>Разработкой новых автотестов по предоставленным сценариям</li>
            <li>Проверкой покрытия функционала автотестами, обсуждением с командой ручного тестирования возможных "дыр"</li>
            <li>Общался с командами разработки для улучшения тестабилити функционала</li>
        </ul>
        Так же, я помогал с решением проблемных моментов и вопросов у новых автотестеровщиков и обучающихся из ручного тестирования в автотестирование.
    </div>
        <br>
    <div class="row">
        В свободное от работы время детально изучал фреймворк компании, набирал навыки которых не хватает.
    </div>
        <br>
    <div class="row">
        Сейчас я занимаюсь собственным учебным проектом в целях более глубокого изучения всего, что окружает автотестировщика во время работы.
    </div>
        <br>
        <br>
</div>
<div class='next-stage-button'>
    <a href="{{ url_for('index') }}" class="next-stage-button-a">На главную</a>
</div>
{% endblock content %}