{% extends 'base.html' %}

{% block content %}
{{ super() }}

<br>
<div class="container" style="font-size: 25px;">
    <div class="row">
        <strong>
        Это учебный проект, в котором я пытаюсь реализовать полностью готовую к работе структуру для написания и запуска автотестов.
        </strong>
    </div>
    <br>
    <div class="row">
        Сейчас, в него входит:
        <ul>
            <li><a href="https://gitlab.com/PesyCorm/autotests-runner" target="_blank">Приложение с веб-интерфейсом</a>, которое помогает развернуть Jenkins+Python и Selenoid через Docker</li>
            <li><a href="https://gitlab.com/PesyCorm/framework" target="_blank">Небольшой фреймворк</a> (Selenium + PyTest) для написания автотестов на Python (который так же устанавливается в контейнер Jenkins)</li>
        </ul>

    </div>
        <br>
    <div class="row">
        Так как это учебный проект, тут могут встречаться баги <em style="font-size: 20px;">*например, верстка или ошибки при непоследовательных переходах по страницам</em>
    </div>
        <br>
    <div class="row">
        Я продолжаю над ним работать и впереди еще много моментов, которые хотелось бы добавить или улучшить!
    </div>
        <br>
        <br>
    <div class="row">
        <small class="text-muted">Вы можете прочитать о том, как легко написать и запустить свой первый автотест на <a href="{{ url_for('how_simple') }}">этой странице</a></small>
    </div>
</div>
<div class='next-stage-button'>
    <a href="{{ url_for('index') }}" class="next-stage-button-a">На главную</a>
</div>
{% endblock content %}