<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	{% block title -%}
	<title>{{ title }}</title>
	{% endblock %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/over-boot.css') }}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	<link type="Image/x-icon" href="{{ url_for('static', filename='img/fav.jpg') }}" rel="icon">
</head>
<body>
{% block header -%}
	<div class='container-fluid header-row'>
		<div class="row">
			<div class="col-9"></div>
			<div class="col-1 header-button">
				<a href="{{ url_for('about_project') }}" class="header-a">что это</a>
			</div>
			<div class="col-1 header-button">
				<a href="{{ url_for('about_me') }}" class="header-a">обо мне</a>
			</div>
			<div class="col-1"></div>
		</div>
	</div>
{% endblock header -%}

{% block content -%}
	<div class="container">
		{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for message in messages %}
			<div class="alert alert-info" role="alert">{{ message }}</div>
			{% endfor %}
		{% endif %}
		{% endwith %}
	</div>
{% endblock content -%}
{% block scripts %}
{% endblock scripts %}
</body>
</html>