{% extends 'base.html' %}

{% block content %}
{{ super() }}
<div class="build-container">
	<div class="container">
			<h1 class="text-center general-h1">Мы начали загрузку! Пожалуйста, ожидайте...</h1>
	</div>
</div>
<div class="img-container">
	<div class="container-fluid gif-container">
		<img src="{{ url_for('static', filename='img/nyan_cat.gif') }}">
	</div>
</div>
{% endblock content %}

{% block scripts %}
    <script>
        function build(sourceElem, gifElem) {
            $.get('/build_inside', {}).done(function(response) {
                $(sourceElem).html('<div class="container"><h1 class="text-center general-h1">Все готово к использованию!</h1></div>!');
                $(gifElem).html('<div class="big-button"><a href="{{ url_for('index') }}" class="big-button-a">На главную</a></div>');
            }).fail(function() {
                $(sourceElem).html('<div class="container"><h1 class="text-center general-h1">Возникла ошибка...</h1></div>!\
                <div class="container">Логи выполнения и ошибок находятся в /data/logs</div>');
            });
        }
        build('.build-container', '.img-container')
    </script>
{% endblock %}