{% extends 'base.html' %}

{% block content %}
{{ super() }}
<h2 class="general-h2">Пожалуйста, укажите порты хоста, которые можно связать с контейнерами</h2>

<form action="/config" method="post">
  <div class="row margin-left-10">
    <div class="col-2">
      <h2><small class="explain-text">Selenoid</small></h2>
    </div>
      <div class="col-3">
        <input type="text" name="selenoid" placeholder="По умолчанию 4444">
      </div>
  </div>
  <div class="row margin-left-10">
    <div class="col-2">
      <h2><small class="explain-text">Selenoid-UI</small></h2>
    </div>
      <div class="col-3">
        <input type="text" name="selenoid_ui" placeholder="По умолчанию 8880">
      </div>
  </div>
  <div class="row margin-left-10">
    <div class="col-2">
      <h2><small class="explain-text">Jenkins</small></h2>
    </div>
      <div class="col-3">
        <input type="text" name="jenkins" placeholder="По умолчанию 8000">
      </div>
  </div>
  <h2 class="general-h2">Также, мы можем установить фреймворк для написания автотестов на этот пк</h2>
  <div class="row margin-left-10">
    <div class="col-4">
      <div class="row">
      <div class="col-4">
        <h2><small class="explain-text">Установить</small></h2>
      </div>
        <div class="col-2">
          <input class="checkbox" type="checkbox" name="download_framework">
        </div>
        </div>
    </div>
  </div>

  <div class='next-stage-button'>
      <input type="submit" value="Продолжить" style="background: white; border: none;">
  </div>
</form>
{% endblock content %}