{% extends 'base.html' %}

{% block content %}
{{ super() }}
	<div class="vl"></div>
	<div class="split left">
  		<div class="margin-left-10">
    		<h2 class="general-h2">Нам потребуется:</h2>
    		<div class="row">
    			<div class="col-3">
    				<h2><small class="explain-text">ОС Linux</small></h2>
    			</div>
    			<div class="col-9">
					{% if os %}
    					<h2><small class="text-success">ок</small></h2>
					{% else %}
						<h2><small class="text-danger">для корректной работы требуется ОС Linux!</small></h2>
					{% endif %}
    			</div>
    		</div>
    		<div class="row">
    			<div class="col-3">
    				<h2><small class="explain-text">Docker</small></h2>
    			</div>
    			<div class="col-9">
					{% if docker %}
    					<h2><small class="text-success">ок</small></h2>
					{% else %}
						<h2><small class="text-danger">пожалуйста, установите докер, прежде чем мы продолжим</small></h2>
					{% endif %}
    			</div>
    		</div>
    	</div>
  	</div>

<div class="split right">
	<div class="margin-left-10">
    <h2 class="general-h2">Будет сделано:</h2>
    <div class="col-8">
    	<h2><small class="explain-text">Мы загрузим, настроим и запустим контейнеры с Selenoid, Selenoid-UI, Jenkins</small></h2>
    </div>
  </div>
	{% if os and docker %}
		<div class='next-stage-button'>
			<a href="{{ url_for('config') }}" class="next-stage-button-a">Продолжить</a>
		</div>
	{% endif %}
</div>

{% endblock content %}