{% extends 'base.html' %}

{% block content %}
{{ super() }}

<br>
<div class="container" style="font-size: 25px;">
    <div class="row">
        <strong>
        <section>Итак, когда все готово к работе, мы можем попробовать написать и запустить свой первый автотест, <a
                href="https://gitlab.com/PesyCorm/framework" target="_blank">используя фреймворк</a>, который уже установлен и готов к работе в контейнере с Jenkins</section>
        </strong>
    </div>
    <br>
    <div class="row">
        Представим достаточно простой тест-кейс:
        <ol class="text-muted">
            <li>Перейти на страницу https://yandex.ru</li>
            <li>Ввести в поиск 'yandex'</li>
            <li>Проверить, что первый результат поиска содержит заголовок 'Яндекс'</li>
        </ol>

    </div>
        <br>
    <div class="row">
        Структура каталога с тестами будет выглядеть так:
    </div>
        <br>
    <div class="row">
        <code class="code-class">
+-- root_dir
        |
        +--pages
        |
        +--tests
        </code>
    </div>
    <br>
    <div class="row">
        В каталоге pages создадим файл <code>yandex_main.py</code> В нем мы опишем главную страницу яндекса.
    </div>
        <br>
    <div class="row">
        <code class="code-class">
from simple_test import *


@page_name('Главная')
@set_parent('.body__wrapper')
class YandexMain(Page):
    """Главная страница yandex.ru"""

    search_fld = Element(By.CSS_SELECTOR, '.search2__input input', 'Поле поиска')

    def open(self, check_load=True):
        """Открываем страницу"""
        self.browser.open('yandex.ru')
        if check_load:
            self.check_load()

    def check_load(self):
        """Проверяем загрузку"""
        self.search_fld.wait(Displayed)

    def search(self, text, search_btn_click=True):
        """Взаимодействие с полем поиска
        :param text: текст который вводим в поле поиска
        :param search_btn_click: кликнуть кнопку Поиск
        """
        self.search_fld.type_in(text)
        if search_btn_click:
            self.go_search()

    def go_search(self, by_btn=True):
        """Отправляем ENTER в поле поиска"""
        self.search_fld.type_in(Keys.ENTER)
        </code>
    </div>
    <br>
    <div class="row">
        В этом же каталоге создадим <code>yandex_results_page.py</code> Там определим основные методы работы со страницей результатов поиска.
    </div>
        <br>
    <div class="row">
        <code class="code-class">
from simple_test import *


@page_name('Результаты поиска')
class YandexResultsPage(Page):
    """Страница с результатами поиска"""

    search_fld = Element(By.CSS_SELECTOR, '.search2__input', 'Поле поиска')
    result_titles = ElementsList(By.CSS_SELECTOR, '.organic__title', 'Заголовки результатов поиска')

    def check_load(self):
        """Проверяем загрузку"""
        self.search_fld.wait(Displayed)
        self.result_titles.wait(Displayed)

    def check_result_title_by_number(result_number, title_text)
        """Проверяем, что результат с номером result_number,
        содержит заголовок с текстом title_text
        :param result_number: порядковый номер результата поиска
        :param title_text: текст, который содержится в заголовке
        """
        self.result_titles.item(result_number).wait(ContainsText(title_text))

        </code>
    </div>
    <br>
    <div class="row">
        Мы закончили описание страниц, теперь перейдем к написанию тестов
    </div>
        <br>
    <div class="row">
        В каталоге tests создадим файл<code>test_yandex_search.py</code>В нем мы будем писать сам автотест
    </div>
    <div class="row">
        <code class="code-class">
from simple_test import *

from pages.yandex_main import YandexMain
from pages.yandex_results_page import YandexResultsPage


class TestYandexMainSearch(BaseTest):

    yandex_main = YandexMain()
    yandex_result_page = YandexResultsPage()

    def test_01_yandex_main_search(self):
        """Поиск на главной странице Яндекс"""

        self.yandex_main.open(check_load=True)

        log('Делаем поиск в яндексе по слову "yandex"')
        self.yandex_main.search('yandex')

        log('Проверяем, что первый результат содержит заголовок "Яндекс"')
        self.yandex_result_page.check_load()
        self.yandex_result_page.check_result_title_by_number(0, 'Яндекс')
        # нумерация элементов начинается с 0


if __name__ == '__main__':
    run_test_file(__file__)

        </code>
    </div>
    <br>
    <div class="row">
        Итак, действия автотеста заняли у нас всего 4 строчки кода, + его легко прочитать человеку даже мало знакомому с программированием!
    </div>
    <br>
    <div class="row">
        Но чтобы проверить функционал, наш автотест все еще нужно запускать вручную. Давайте автоматизируем это действие с помощью Jenkins.
    </div>
    <br>
    <div class="row">
        Но перед этим, положим в каталог tests еще один файл<code>run_tests.py</code>
        Он понадобится нам в том случае, если в нашей папке с тестами появятся еще файлы и мы захотим запускать сразу все автотесты из этой директории.
    </div>
    <br>
    <div class="row">
        <code class="code-class">
from simple_test.core.run_tests import RunTests


RunTests().run_tests()
        </code>
    </div>
    <div class="row">
        Теперь, когда мы выполним этот файл, у нас запустятся все файлы с префиксом 'test_' из этого каталога.
        Контролировать кол-во потоков мы можем с помощью аргумента --STREAMS_NUMBER (по умолчанию он равен 1)
    </div>
        <br>
    <div class="row">
        <section>Итак, перейдем к Jenkins (Вы можете проверить его работу и перейти в него с <a href="{{ url_for('index') }}" target="_blank">главной страницы</a>).</section>
    </div>
    <br>
    <div class="row">
        Оказавшись в Jenkins, в левой панели выберите пункт 'Создать Item'.
        Впишите название для сборки и выберите Pipeline (этот плагин должен быть предварительно установлен)
        <br>
        <br>
        <small class="text-muted"><section>В настройках Pipeline вы можете задать название, выбрать время хранения сборок и много других гибких настроек о которых можно почитать <a href="https://www.jenkins.io/doc/pipeline/tour/hello-world/" target="_blank">в доке</a>. Мы не будем заострять на них внимание.</section></small>
    </div>
    <br>
    <br>
    <div class="row">
        Но самое важно здесь - это скрипт пайплайна. Ниже приведен пример того, как он может выглядеть для нашей сборки.
    </div>
    <br>
    <div class="row">
        <code class="code-class">
pipeline {
    agent any
    stages {
        stage("git"){
            steps{
                git branch: 'main', credentialsId: 'your-credentials-12345',
                    url: 'https://gitlab.com/PesyCorm/tests-rep.git'
            }
        }
        stage('run_tests'){
            steps{
                sh "python3 tests/run_tests.py --TESTS_DIR ${env.WORKSPACE}/tests
                    --SELENOID True --STREAMS_NUMBER 5 --alluredir allureres"
            }
        }
    }
    post {
        always {
            script {
                allure([
                    includeProperties: false,
                    jdk: '',
                    properties: [],
                    reportBuildPolicy: 'ALWAYS',
                    results: [[path: 'allureres']]
                    ])
            }
        }
    }
}
        </code>
    </div>
    <br>
    <div class="row">
        Давайте коротко рассмотрим каждую стадию:
        <ol class="text-muted">
            <li>Мы делаем клон автотестов из гит, указывая линк, ветку и Credentials для авторизации</li>
            <li>Затем стадия запуска тестов. В ней мы указываем директорию с тестами, кол-во потоков, директорию для отчетов allure, а так же то, что тесты нужно запускать в Selenoid</li>
            <li>Последняя стадия - это создание отчета. Allure-плагин сгенерирует и прикрепит отчет к сборке</li>
        </ol>
    </div>
    <div class="row">
        Сохраняем и сборка готова к запуску!
        <br>
        В меню сборки Вы можете нажать 'Собрать сейчас', а если в настройках сборки Вы указали 'Запускать периодически', то всегда будете иметь отчет о ее прохождении без дополнительных действий.
    </div>
    <br>
    <br>
</div>
{% endblock content %}