{% extends 'base.html' %}

{% block content %}
{{ super() }}
<div class='container'>
		<h1 class="text-center general-h1">Эта страница еще в разработке :(</h1>
</div>
<div class="row">
        <small class="text-muted">Вы можете прочитать о том, как легко написать и запустить свой первый автотест на <a href="{{ url_for('how_simple') }}">этой странице</a></small>
    </div>
{% endblock content %}