{% extends 'base.html' %}

{% block content %}
{{ super() }}
<div class='container'>
		<h1 class="text-center general-h1">Похоже, еще ничего не установлено...</h1>
</div>
<div class="big-button"><a href="{{ url_for('explain') }}" class="big-button-a">Начать</a></div>
{% endblock content %}